/* Typograhpy */

body {
	color: #444;
	font-size: 14px;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	background: #fafafa;
	line-height: 150%;
	-webkit-text-size-adjust: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5 {
	font-family: "Droid Sans", sans;
	letter-spacing: -1px;
}
	
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
	text-decoration: none;
}
		
h1 {line-height: 140%; margin-bottom: 14px;}
h2 {line-height: 130%; margin-bottom: 10px;}
h3 {line-height: 130%; margin-bottom: 8px; }
h4 {line-height: 125%; margin-bottom: 8px; }
h5 {line-height: 120%; margin-bottom: 8px;}

h1.logo {
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
}
	
h6 {
	font-size: 14px;
	line-height: 110%;
	margin-bottom: 8px;
	color: inherit;
	font-weight: bold;
}
	
.italic {font-style: italic;font-weight: normal;}
.subheader { color: #777; }
.normal {font-weight: normal;}
.bolder {font-weight: bolder;}
	
p { margin: 0 0 20px 0; line-height: 21px; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }

em { font-style: italic; }
strong { font-weight: bold;}
small { font-size: 80%; }

/* Links */

a, a:visited {text-decoration: underline; outline: 0; }
a:hover, a:focus { color: #000; text-decoration: none;}
p a, p a:visited { line-height: inherit; }
header a { color: #fff; }
header a:hover, header a:focus { color: #fff; }

/* Lists */

ul, ol { margin: 10px 0px 20px 0px; }
ol { list-style: decimal; }
ol, #wrap ul.square, #wrap ul.circle, #wrap ul.disc { margin-left: 30px; }
#wrap ul.square { list-style: square outside; }
#wrap ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px;}
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }

/* Block quote*/

blockquote:before, blockquote:after {
	content: '';
	content: none;
}

blockquote, blockquote p {
	color: #333;
	font-size: 1.15em;
	line-height: 140%;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
}
	
blockquote {
	quotes: none;
	margin: 0 0 20px;
	padding: 9px 10px 10px 15px;
	border-left-width: 4px;
	border-left-style: solid;
	border-color:#bfc0bb;
}
	
blockquote.left {
	float: left;
	width: 200px;
	margin: 10px 20px 20px 0px;
}
	
blockquote.right {
	float: right;
	width: 200px;
	margin: 10px 0px 20px 20px;
	border-left: none;
	border-right-width: 4px;
	border-right-style: solid;
}

blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
blockquote p:last-of-type { margin-bottom: 0; }

/* Header */

header {
	margin-bottom: 40px;
}

/* Layout */

header {
  color: #fff;
  background: #1D1D1D;
}

header .content-container {
  max-width: 840px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

#main,
footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

#home {
	margin-bottom: 40px;
}

/* Post */

.posted {
	color: #aaa;
	font-style: italic;
	margin: 0 0 20px;
}

#related {
	border-top: 1px solid #ccc;
}

#related h2 {
	margin-top: 20px;
}

/* Footer */

footer .about h2 {
	margin-top: 20px;
}

footer .rss p {
	margin-bottom: 0;
}

/* Code */
		
code,pre,p.smalldesc {
	background-color: #ededed;
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
	display: block;
	width: 100%;
	font: 14px/24px "Inconsolata", monospace;
	margin: 15px 0;
	padding: 10px 5px;
	overflow: auto; 
	overflow-y: hidden;
}

code {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
}

p code {
	display: inline;
	margin: 0;
	padding: .25em 0;
}