<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
  <title>{{ page.title }}</title>
	<meta name="description" content="{{ page.title }}">
  <meta name="author" content="Peter Törnstrand">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
  <link rel="stylesheet" href="/css/style.min.css">
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700" rel="stylesheet" type="text/css">
  <script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>

<div id="container">
	<header>
<pre>
 ___                                                   ___                                           ___                                          
(   )                                                 (   )                                         (   )                                         
 | |_       .--.    ___ .-.     ___ .-.       .--.     | |_      ___ .-.      .---.   ___ .-.     .-.| |          .--.      .--.    ___ .-. .-.   
(   __)    /    \  (   )   \   (   )   \    /  _  \   (   __)   (   )   \    / .-, \ (   )   \   /   \ |         /    \    /    \  (   )   '   \  
 | |      |  .-. ;  | ' .-. ;   |  .-. .   . .' `. ;   | |       | ' .-. ;  (__) ; |  |  .-. .  |  .-. |        |  .-. ;  |  .-. ;  |  .-.  .-. ; 
 | | ___  | |  | |  |  / (___)  | |  | |   | '   | |   | | ___   |  / (___)   .'`  |  | |  | |  | |  | |        |  |(___) | |  | |  | |  | |  | | 
 | |(   ) | |  | |  | |         | |  | |   _\_`.(___)  | |(   )  | |         / .'| |  | |  | |  | |  | |        |  |      | |  | |  | |  | |  | | 
 | | | |  | |  | |  | |         | |  | |  (   ). '.    | | | |   | |        | /  | |  | |  | |  | |  | |        |  | ___  | |  | |  | |  | |  | | 
 | ' | |  | '  | |  | |         | |  | |   | |  `\ |   | ' | |   | |        ; |  ; |  | |  | |  | '  | |   .-.  |  '(   ) | '  | |  | |  | |  | | 
 ' `-' ;  '  `-' /  | |         | |  | |   ; '._,' '   ' `-' ;   | |        ' `-'  |  | |  | |  ' `-'  /  (   ) '  `-' |  '  `-' /  | |  | |  | | 
  `.__.    `.__.'  (___)       (___)(___)   '.___.'     `.__.   (___)       `.__.'_. (___)(___)  `.__,'    `-'   `.__,'    `.__.'  (___)(___)(___)</pre>
 	</header>
	<div id="main" role="main">
  {{ content }}
  </div> 
  <footer>
    <div class="about">
      <h2>About</h2>
      <p>Peter Törnstrand is a <a href="http://www.happiness.se/">web developer</a> based in Stockholm, Sweden.</p>
    </div>
    <div class="links">
      <p>
        <a href="http://drupal.org/user/293786">drupal.org/user/293786</a><br>
        <a href="http://twitter.com/petertornstrand/">twitter.com/petertornstrand</a><br>
      </p>
    </div>
    <div class="rss">
      <p><a href="/rss.xml">Subscribe (RSS)</a></p>
    </div>
  </footer>
</div> <!--! end of #container -->

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->

</body>
</html>