<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
  <title>{{ page.title }}</title>
	<meta name="description" content="{{ page.title }}">
  <meta name="author" content="Peter Törnstrand">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/style.min.css">
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">
</head>
<body>

<header>
  <div class="content-container">
    <h1 class="logo">Peter Törnstrand</h1>
    <p>I'm Peter Törnstrand, I am a web developer at <a href="http://happiness.se/">Happiness</a>.</p>
  </div>
</header>
<div id="main" role="main">
{{ content }}
</div>
<footer>
  <div class="content-container">
		<img class="drupal" src="/images/drupal.png" alt="Drupal Association Individual member">
    <div class="about">
      <h2>About</h2>
      <p>Peter Törnstrand is a <a href="http://www.happiness.se/">web developer</a> based in Stockholm, Sweden.</p>
    </div>
    <div class="links">
      <p>
        <a href="http://drupal.org/user/293786">drupal.org/user/293786</a><br>
        <a href="http://twitter.com/petertornstrand/">twitter.com/petertornstrand</a><br>
        <a href="http://github.com/petertornstrand">github.com/petertornstrand</a><br>
        <a href="https://keybase.io/petertornstrand">keybase.io/petertornstrand</a><br>
      </p>
    </div>
  </div>
</footer>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->

</body>
</html>
