<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="Peter Törnstrand">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Droid+Sans:wght@400;700&family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div class="content-container">
        <img class="profile" src="/images/profile-peter.jpg" alt="Peter Törnstrand">
        <div class="about">
            <h1>Peter Törnstrand</h1>
            <p>I’m a web developer and open source enthusiast. I’ve worked with the web since 1997 and have been active in the Drupal community since 2008, contributing modules, organizing events, and promoting open-source solutions.</p>
            <p>I’m a partner at the digital agency <a href="http://www.happiness.se/">Happiness</a> and previously founded the online film magazine Vujer Filmtidning (1997–2010).</p>
        </div>
        <div class="links">
            <p>
                <a href="https://www.drupal.org/u/peter-t%C3%B6rnstrand">Drupal</a>
                <a href="https://github.com/petertornstrand">GitHub</a>
                <a href="https://www.linkedin.com/in/petertornstrand/">LinkedIn</a>
            </p>
        </div>
    </div>
</header>

<div id="main" role="main">
    {{ content }}
</div>

</body>
</html>
