<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
  <title>{{ page.title }}</title>
	<meta name="description" content="{{ page.title }}">
  <meta name="author" content="Peter Törnstrand">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/style.min.css">
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">
</head>
<body>

<header>
  <div class="content-container">
    <h1 class="logo">Peter Törnstrand</h1>
    <p>I'm Peter Törnstrand, I am a web developer at <a href="http://happiness.se/">Happiness</a>.</p>
  </div>
</header>
<div id="twitter">
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/petertornstrand" data-widget-id="406401895360503808">Tweets by @petertornstrand</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div id="main" role="main">
{{ content }}
</div>
<footer>
	<div class="content-container">
		<img class="drupal" src="/images/drupal.png" alt="Drupal Association Individual member">
	  <div class="about">
	    <h2>About</h2>
	    <p>Peter Törnstrand is a <a href="http://www.happiness.se/">web developer</a> based in Stockholm, Sweden.</p>
	  </div>
	  <div class="links">
	    <p>
	      <a href="http://drupal.org/user/293786">drupal.org/user/293786</a><br>
	      <a href="http://github.com/petertornstrand">github.com/petertornstrand</a><br>
	    </p>
	  </div>
  </div>
</footer>

</body>
</html>
